<h1>Jeu de Go</h1>

<div>
  <button (click)="passerTour()">Passer son tour</button>
</div>

<div>
  <button (click)="sauvegarderPartie('partie1')">Sauvegarder la partie</button>
  <button (click)="chargerPartie('partie1')">Charger une partie</button>
</div>

<div class="scoreboard">
  <p>Joueur 1 : (Blanc)</p> {{scoreJoueur1}}
  <p>Joueur 2 : (Noir)</p> {{scoreJoueur2}}
  <p>Joueur actuel : {{ joueurActuel === 1 ? 'Blanc' : 'Noir' }}</p>
</div>

<div class="container">
  <table class="boardx8">
    <tbody>
      <tr class="columns" *ngFor="let row of plateau8Rows; let rowIndex = index">
        <td class="rows" *ngFor="let col of plateau8Columns; let colIndex = index"></td>
      </tr>
    </tbody>
  </table>
  <table class="boardx9">
    <tbody>
      <tr *ngFor="let row of plateau9Rows; let rowIndex = index">
        <td
          *ngFor="let col of plateau9Columns; let colIndex = index"
          [class]="recupClass(rowIndex, colIndex)"
          (click)="placerJeton(rowIndex, colIndex)"
          (contextmenu)="retirerJeton($event, rowIndex, colIndex)"
        ></td>
      </tr>
    </tbody>
  </table>
</div>
